<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-black text-white flex flex-col h-full">
    <nav class="h-16 border-b border-white flex items-center px-4 shrink-0 justify-between">
        s
        <div class="flex items-center gap-2">
            <button class="px-4 py-2 rounded-md" id="sign-in">Sign in</button>
            <button class="bg-white text-black px-4 py-2 rounded-md" id="sign-up">Sign up</button>
        </div>
    </nav>
    <main class="p-4 flex gap-2 flex-col lg:flex-row lg:p-4 h-full grow">
        <div class="relative lg:w-3/4">
            <video id="stream" autoplay muted playsinline class="rounded-md"></video>
            <button class="absolute top-4 left-4 px-4 py-2 bg-black rounded-md" id="unmute">Unmute</button>
        </div>
        <div class="flex flex-col gap-2 grow">
            <div id="chat" class="grow p-4 overflow-y-auto">
            </div>
            <div class="flex gap-4 relative">
                <div id="suggestions" class="p-4 rounded-md bottom-full inset-x-0 absolute bg-black"></div>
                <input class="p-4 border border-white h-12 rounded-md grow" id="chat-input"
                    placeholder="Type a message..." />
                <button class="p-4 size-12 bg-white text-black rounded-md" id="chat-send"></button>
            </div>
        </div>
    </main>
    <script src="/{{ username }}/js/index"></script>
</body>

</html>
