<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-black text-white flex flex-col h-full">
    <nav class="h-16 border-b border-white flex items-center px-4">
        s
    </nav>
    <main class="p-4 flex gap-2 flex-col lg:flex-row lg:p-4 h-full items-center grow">
        <div class="relative lg:w-3/4">
            <video id="stream" autoplay muted playsinline class="rounded-md"></video>
            <button class="absolute top-4 left-4 px-4 py-2 bg-black rounded-md" id="unmute">Unmute</button>
        </div>
        <div class="flex flex-col gap-2 grow self-stretch">
            <div id="chat" class="grow p-4 overflow-y-auto">
            </div>
            <div class="flex gap-4 relative">
                <div id="suggestions" class="p-4 rounded-md bottom-full inset-x-0 absolute"></div>
                <input class="p-4 border border-white h-12 rounded-md grow" id="chat-input"
                    placeholder="Type a message..." />
                <button class="p-4 size-12 bg-white text-black rounded-md" id="chat-send"></button>
            </div>
        </div>
    </main>
    <script>
        (async () => {
            const SERVER = location.origin
            const RX_ENDPOINT = "/api/v1/stream/{{ username }}/rx"
            const WS_ENDPOINT = "/api/v1/stream/{{ username }}/ws"

            const connection = new RTCPeerConnection({
                iceServers: [{ "urls": "stun:stun.l.google.com:19302" }]
            })
            connection.addTransceiver("video", { direction: "recvonly" })
            connection.addTransceiver("audio", { direction: "recvonly" })
            const channel = connection.createDataChannel("chat")
            let emotes = null

            const suggestions = document.getElementById("suggestions")

            channel.onmessage = event => {
                let data = JSON.parse(event.data)
                switch (data.type) {
                    case "emotes":
                        emotes = data.emotes
                        break
                    case "message":
                        let message = document.createElement("div")
                        let time = document.createElement("span")
                        time.textContent = `[${data.time}] `
                        time.className = "text-gray-500"
                        message.appendChild(time)
                        for (part of data.message) {
                            switch (part.type) {
                                case "text":
                                    message.appendChild(document.createTextNode(part.text))
                                    break
                                case "emote":
                                    let img = document.createElement("img")
                                    img.src = part.url
                                    img.alt = part.name
                                    img.className = "inline h-8"
                                    message.appendChild(img)
                                    message.appendChild(document.createTextNode(" "))
                                    break
                            }
                        }
                        document.getElementById("chat").appendChild(message)
                }
            }

            const send = event => {
                let message = event.target.value
                if (!message) return
                channel.send(message)
                event.target.value = ""
                suggestions.innerHTML = ""
            }
            const chatInput = document.getElementById("chat-input")
            chatInput.oninput = () => {
                parts = chatInput.value.split(" ")
                suggestions.innerHTML = ""
                if (!emotes) return
                if (parts.length === 0 || !parts[parts.length - 1]) return
                for (const emote of emotes.filter(emote => emote.name.startsWith(parts[parts.length - 1])).slice(0, 5)) {
                    let suggestion = document.createElement("button")
                    suggestion.className = "flex items-center gap-2"
                    suggestion.onclick = () => {
                        parts[parts.length - 1] = emote.name
                        chatInput.value = parts.join(" ") + " "
                        suggestions.innerHTML = ""
                        chatInput.focus()
                    }
                    let img = document.createElement("img")
                    img.src = emote.url
                    img.alt = emote.name
                    img.className = "h-8"
                    suggestion.appendChild(img)
                    suggestion.appendChild(document.createTextNode(emote.name))
                    suggestions.appendChild(suggestion)
                }

            }
            chatInput.onkeydown = event => {
                if (event.key === "Enter") {
                    send(event)
                }
            }

            document.getElementById("chat-send").onclick = () => {
                send({ target: chatInput })
            }

            let connect = async () => {
                let offer = await connection.createOffer()
                connection.setLocalDescription(offer)
                let response = await fetch(SERVER + RX_ENDPOINT, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/sdp"
                    },
                    body: offer.sdp
                })
                let answer = await response.text()
                await connection.setRemoteDescription(new RTCSessionDescription({
                    sdp: answer,
                    type: "answer",
                }))
            }

            connection.ontrack = event => {
                console.log("Received track", event.streams[0])
                const stream = document.getElementById("stream")
                stream.srcObject = event.streams[0]
                const unmute = document.getElementById("unmute")
                unmute.onclick = () => {
                    stream.muted = false
                    unmute.remove()
                }
            }
            connection.onconnectionstatechange = async event => {
                console.log("onconnectionstatechange", connection.connectionState)
                if (connection.connectionState === "disconnected") {
                    await connect()
                }
            }
            connection.ondatachannel = event => {
                console.log("ondatachannel", event)
            }
            connection.onicecandidate = async event => {
                console.log("onicecandidate", event)
                if (!event.candidate) return

                const ws = new WebSocket(SERVER + WS_ENDPOINT)
                await new Promise(resolve => {
                    ws.onopen = resolve
                })
                ws.send(JSON.stringify({
                    type: "candidate", candidate: {
                        component: { "rtp": 1, "rtcp": 2 }[event.candidate.component],
                        foundation: event.candidate.foundation,
                        ip: event.candidate.address,
                        port: event.candidate.port,
                        priority: event.candidate.priority,
                        protocol: event.candidate.protocol,
                        type: event.candidate.type,
                        relatedAddress: event.candidate.relatedAddress,
                        relatedPort: event.candidate.relatedPort,
                        sdpMid: event.candidate.sdpMid,
                        sdpMLineIndex: event.candidate.sdpMLineIndex,
                        tcpType: event.candidate.tcpType,
                    }
                }))
            }
            connection.onicecandidateerror = event => {
                console.log("onicecandidateerror", event)
            }
            connection.oniceconnectionstatechange = event => {
                console.log("oniceconnectionstatechange", connection.iceConnectionState)
            }
            connection.onicegatheringstatechange = event => {
                console.log("onicegatheringstatechange", connection.iceGatheringState)
            }
            connection.onnegotiationneeded = event => {
                console.log("onnegotiationneeded", event)
            }
            connection.onsignalingstatechange = event => {
                console.log("onsignalingstatechange", connection.signalingState)
            }

            await connect()
        })()
    </script>
</body>

</html>
